@font-face{
font-family:"ET Chill Round";
font-style:normal;
font-weight:400;
font-display:swap;
src:url("assets/fonts/chill-round-gothic-site-medium-critical.woff2") format("woff2");
unicode-range:U+0020-007E,U+3005,U+4E0A,U+4E1C,U+4E2D,U+4E61,U+4F53,U+4F5C,U+5168,U+516C,U+5173,U+52A0,U+52A8,U+539F,U+53F0,U+542F,U+544A,U+5668,U+5728,U+591C,U+5922,U+5996,U+5C11,U+5E73,U+5F55,U+620F,U+6284,U+62E9,U+6587,U+65B0,U+65B9,U+66F4,U+673A,U+6771,U+68A6,U+6B63,U+6C38,U+6E38,U+7248,U+753B,U+7684,U+795E,U+7B80,U+7D05,U+7EA2,U+7F51,U+8054,U+8BF7,U+8F7D,U+9009,U+90E8,U+90F7,U+9332,U+95ED,U+9875,U+98A8,U+98CE,U+9B54;
}

@font-face{
font-family:"ET Chill Round";
font-style:normal;
font-weight:700;
font-display:swap;
src:url("assets/fonts/chill-round-gothic-site-bold-critical.woff2") format("woff2");
unicode-range:U+0020-007E,U+3005,U+4E0A,U+4E1C,U+4E2D,U+4E61,U+4F53,U+4F5C,U+5168,U+516C,U+5173,U+52A0,U+52A8,U+539F,U+53F0,U+542F,U+544A,U+5668,U+5728,U+591C,U+5922,U+5996,U+5C11,U+5E73,U+5F55,U+620F,U+6284,U+62E9,U+6587,U+65B0,U+65B9,U+66F4,U+673A,U+6771,U+68A6,U+6B63,U+6C38,U+6E38,U+7248,U+753B,U+7684,U+795E,U+7B80,U+7D05,U+7EA2,U+7F51,U+8054,U+8BF7,U+8F7D,U+9009,U+90E8,U+90F7,U+9332,U+95ED,U+9875,U+98A8,U+98CE,U+9B54;
}
